// Placeholder
%clearfix {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

%bg_img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

%grid-structure {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: calc($gutter / 2)+px;
	padding-left: calc($gutter / 2)+px;
}

%menu {
	position: relative;
	width: 100%;
	height: 90px;

	.rmae-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
}